<!DOCTYPE html>
<html>
    <head>
        <title>Тестирование</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>

        <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type = "text/css">
        <script>

            window.onload = function(){

                function timer(){

                    var minute = document.getElementById('minute').innerHTML;
                    var second = document.getElementById('second').innerHTML;
                    var end = false;

                    if( second > 0 ) second--;
                    else{
                        second = 60;

                        if( minute > 0 ) minute--;
                        else{
                            second = 60;
                            end = true;
                        }
                    }

                    if(end){
                        clearInterval(intervalID);
                        alert("Время на выполнение теста закончено !");
                        document.getElementById('btn1').click();

                    }else{
                        document.getElementById('minute').innerHTML = minute;
                        document.getElementById('second').innerHTML = second;
                    }
                }
                window.intervalID = setInterval(timer, 1000);
            }
    </script>
    <style>
    #timer{
        margin: 10px auto;
        text-align: center;
        color: #333;
        font-family: fantasy;
        font-size: 24px;
        cursor: default;
        }

        #timer div{
        display: inline;
        }

    </style>
    </head>
    <body >
           <div class="container">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">

                    <h3>Имя пользователя: {{username}}</h3>
                  </div>

                    <ul class="nav navbar-nav navbar-right">
                      <li><div id="timer" >
                        <div id="minute">29</div>&nbsp;:
                        <div id="second">59</div>
                        </div>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="/logout">Выход</a></li>&nbsp;
                    </ul>
                  </div>
              </nav>

              <form method = 'POST'>
                {% csrf_token %}
                <br>
                <div class="form-group">
                <p><b> Ваше имя:   </b><input type="text" class="form-control" name="fio" size="70" placeholder="Иванов Иван Иванович"></p>
                <p><b> Должность:   </b><input type="text" class="form-control" name="position" size="70" placeholder="Судья"></p>
              </div><br>
                {% for quest in questions %}
                      <div class="jumbotron">
                        <h2>{{ quest.text }}</h2>
                        {% for answer in quest.answer_set.all %}
                        <input type="checkbox" id="blankCheckbox" name="answer" value="{{quest.id}}@{{answer.id}}" id="answer{{ forloop.counter }}" >
                        <label for="answer{{ forloop.counter }}">
                            {{ answer.answer }}
                        </label><br>
                        {% endfor %}
                    </div><br>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary btn-block" id="btn1" type="submit">Готово </button>
                </form><br>
                </div>

            </div> <!-- /container -->

    </body>
</html>
