<!DOCTYPE html>
<html>
    <head>
        <title>result</title>
    <style>
   .layer {
            padding: 20px;
           }
    </style>
    </head>
    <body class="layer">

                <div>
                    <h2> Ответы :</h2>    
                <br>
                <a>Сумма верных ответов: {{summa_true_answer}}</a><br>
                <br><br>
                <a>Сумма отрицательных ответов: {{summa_false_answer}}</a><br>

            </form>
            <a href="/logout">logout</a>
    </body>
</html>
